<div class="wrapper">
  <div class="page-header" style="background-image: url('./assets/img/4.jpg');">
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <video width="640" height="360" controls autoplay>
          <source src="assets\img\ملاّ جمهور يا بابا 🇹🇳.mp4" type="video/mp4">
          Your browser does not support the video tag.
      </video>
        <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
          <div class="card card-register">
            <h3 class="title login-title" style="font-size: 2rem;">Forgot Password</h3>
            <form class="register-form" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">

              <label for="email">Email</label>
              <div class="input-group form-group-no-border">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="nc-icon nc-email-85"></i>
                  </span>
                </div>
                <input id="email" formControlName="email" type="email" class="form-control" placeholder="Email" name="email" required>
                <div *ngIf="forgotPasswordForm.get('email').invalid && (forgotPasswordForm.get('email').dirty || forgotPasswordForm.get('email').touched)">
                  <small *ngIf="forgotPasswordForm.get('email').errors.required">Email is required.</small>
                  <small *ngIf="forgotPasswordForm.get('email').errors.email">Invalid email address.</small>
                </div>
              </div>

              <button type="submit" class="btn btn-danger btn-block btn-round"  [disabled]="forgotPasswordForm.invalid">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
