*.login-title {
    color: white;
}
.centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Utiliser la hauteur de la fenêtre */
  }
  
  .form-container {
    text-align: center; /* Centrer le texte et les éléments à l'intérieur du conteneur */
    max-width: 400px; /* Optionnel : définir une largeur maximale pour le formulaire */
    margin: 0 auto; /* Centrer le formulaire horizontalement */
  }
  