.btn-ooredoo-red {
    background-color: #e60000;
    border-color: #e60000;
}

.btn-ooredoo-red:hover,
.btn-ooredoo-red:focus,
.btn-ooredoo-red:active {
    background-color: #cc0000; /* Slightly darker shade for hover effect */
    border-color: #cc0000;
}
