<div class="wrapper">
  <div class="page-header" style="background-image: url('./assets/img/4.jpg');">
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <video width="640" height="360" controls autoplay>
          <source src="assets\img\ملاّ جمهور يا بابا 🇹🇳.mp4" type="video/mp4">
          Your browser does not support the video tag.
      </video>
        <div class="col-lg-4 col-sm-6 mr-auto ml-auto">

          <div class="card card-register">

            <h3 class="title login-title" style="font-size: 2rem;">Reset Password</h3>
            <form class="register-form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">

              <label for="password">New Password</label>
              <div class="input-group form-group-no-border">
                <input id="password" formControlName="password" type="password" class="form-control" placeholder="Password" required>
                <div *ngIf="resetPasswordForm.get('password').invalid && (resetPasswordForm.get('password').dirty || resetPasswordForm.get('password').touched)">
                  <small *ngIf="resetPasswordForm.get('password').errors.required">Password is required.</small>
                  <small *ngIf="resetPasswordForm.get('password').errors.minlength">Password must be at least 6 characters long.</small>
                </div>
              </div>

              <label for="confirmPassword">Confirm Password</label>
              <div class="input-group form-group-no-border">
                <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control" placeholder="Confirm Password" required>
                <div *ngIf="resetPasswordForm.get('confirmPassword').invalid && (resetPasswordForm.get('confirmPassword').dirty || resetPasswordForm.get('confirmPassword').touched)">
                  <small *ngIf="resetPasswordForm.get('confirmPassword').errors.required">Confirmation is required.</small>
                  <small *ngIf="resetPasswordForm.errors?.mismatch">Passwords must match.</small>
                </div>
              </div>

              <button type="submit" class="btn btn-danger btn-block btn-round" [disabled]="resetPasswordForm.invalid">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
